/* Load resources */
/* -------------------------------------------------------------------------------- */

@import "normalize.css";

@font-face {
    src:
        local("Open Sans"), local("OpenSans"),
        url(../fonts/OpenSans-Regular.ttf) format("truetype"),
        url(../fonts/OpenSans-Regular.woff) format("woff"),
        url(../fonts/OpenSans-Regular.woff2) format("woff2");
    font-family: "OpenSans";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src:
        local("Open Sans Bold"), local("OpenSans-Bold"),
        url(../fonts/OpenSans-Bold.ttf) format("truetype"),
        url(../fonts/OpenSans-Bold.woff) format("woff"),
        url(../fonts/OpenSans-Bold.woff2) format("woff2");
    font-family: "OpenSans";
    font-weight: 700;
    font-style: normal;
}

/* Shared */
/* -------------------------------------------------------------------------------- */

body {
    font-family: "OpenSans", sans-serif;
    background-color: #ffffff;
}

.section__header {
    margin-bottom: 29px;
}

.section__title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.section__title__line {
    width: 65px;
    height: 3px;

    margin-left: auto;
    margin-right: auto;

    background-color: #b59f5b;
    opacity: 0.40;
}

.category__link {
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.category__link:hover {
    color: #b59f5b;
    text-decoration: underline;
}

/* Header */
/* -------------------------------------------------------------------------------- */

.header {
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000000;
    
    height: 450px;

    padding-top: 29px;
    margin-bottom: 59px;

    position: relative;
    z-index: 0;
}

.header::after {
    content: "";
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.60;

    position: absolute;
    z-index: -1;
  }

.header__container {
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    margin-bottom: 97px;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 180px;
}

.menu__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.menu__list__item:nth-child(n+2) {
    margin-left: 35px;
}

.menu__link {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.menu__link:hover {
    text-decoration: underline;
}

.intro {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.title {
    margin: 0px;
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    line-height: 1.6;
    font-weight: 700;
    color: #ffffff;
}

/* Trends */
/* -------------------------------------------------------------------------------- */

.trends {
    margin-bottom: 59px;
}

/* .section__header {

} */

.trends__card__list {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25%;
}

.trends__card {
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: end;

    min-height: 320px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    
    position: relative;
    z-index: 0;
}

.trends__card::after {
    content: "";
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.60;

    position: absolute;
    z-index: -1;
}

.trends__card__1 {
    background-image: url("../img/trend1.jpg");
}

.trends__card__2 {
    background-image: url("../img/trend2.jpg");
}

.trends__card__3 {
    background-image: url("../img/trend3.jpg");
}

.trends__card__4 {
    background-image: url("../img/trend4.jpg");
}

.trends__card__container {
    margin: 0 20px 16px;
    padding: 8% 9% 8% 8%;
    border: 3px solid #b59f5b;

    position: relative;
    z-index: 1;
}

.trends__card__category {
    margin: 0 0 16px 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.trends__card__category__item:nth-child(n+2) {
    margin-left: 20px;
}

.trends__card__link-title {
    text-decoration: none;
}

.trends__card__title {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

.trends__card__title:hover {
    color: #b59f5b;
}

/* Posts */
/* -------------------------------------------------------------------------------- */

.posts-sidebar__container {
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
    padding: 0px 15px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    max-width: 1200px;
}

.posts {
    max-width: 778px;
}

.posts__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.posts__list__item {
    display: flex;
    flex-wrap: nowrap;
}

.posts__list__item:nth-child(n+2) {
    margin-top: 58px;
}

.post__img {
    max-width: 380px;
}

.post {
    margin-left: 30px;
}

.post__header {
    margin-bottom: 50px;
}

.post__header__category {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;

    list-style: none;

    display: flex;
    flex-wrap: nowrap;
}

/* .post__header__category__item {

} */

.post__header__category__item:nth-child(n+2) {
    margin-left: 19px;
}

.post__header__link-title {
    display: flex;
    text-decoration: none;
    margin-bottom: 36px;
}

.post__header__title {
    margin: 0;

    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.post__header__title:hover {
    color: #b59f5b;
}

.post__header__stamp {
    display: flex;
}

.post__header__stamp__author {
    margin-left: 16px;

    font-size: 12px;
    color: #000000;
    font-weight: 700;
}

.post__header__stamp__date {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
}

.post__text {
    margin: 0;

    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
}

/* Sidebar */
/* -------------------------------------------------------------------------------- */

.sidebar {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    max-width: 270px;
}

.sidebar__container:nth-child(n+2) {
    margin-top: 60px;
}

.sidebar__latest-posts__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sidebar__post {
    display: flex;
    flex-wrap: nowrap;
}

.sidebar__post:nth-child(n+2) {
    margin-top: 22px;
}

.sidebar__post__desc {
    margin-left: 18px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.sidebar__post__img {
    width: 70px;
    height: 70px;
}

.sidebar__post__date {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
}

.sidebar__post__link-title {
    display: flex;
    text-decoration: none;

    margin-top: 8px;
}

.sidebar__post__title {
    margin: 0;
    min-width: 200px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}

.sidebar__post__title:hover {
    color: #b59f5b;
}

.sidebar__search {
    display: flex;
    /* width: 100%; */
}

.search-group {
    display: flex;
    /* width: 100%; */
}

.sidebar__search__input {
    background-color: #f4f7f6;
    border: none;
    padding-left: 17px;
    width: 222px;
    height: 48px;
    font-size: 13px;
}

.sidebar__search__input:focus {
    border: 1px solid #b59f5b;
    outline: none;
}

.sidebar__search__button {
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-color: #b59f5b;
    background-position: center;
    width: 48px;
    height: 48px;
    border: none;
    padding: 0;
}

.sidebar__search__button:hover {
    background-color: #323232;
}

.email-group {
    display: flex;
    margin-bottom: 17px;
}

.subscription-form__input {
    width: 270px;
    height: 48px;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    border: none;
    box-sizing: border-box;
    padding: 18px 149px 16px 19px;
}

.subscription-form__input:focus {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
    outline: none;
}

.subscription-form__button {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    width: 272px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
}

.subscription-form__button:hover {
    background-color: #323232;
}

.tags__list {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 5px;
}

.tags__list__item {
    border: 3px solid #eeeeee;
    padding: 5px 14px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.tags__list__item:hover {
    border: 3px solid #b59f5b;
}

.tags__item__title {
    color: #0f0d0e;
    text-decoration: none;
}

.themes__list {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.themes__list__item {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    width: 100%;
}

.themes__list__item__title {
    text-decoration: none;
    color: #000000;

    font-size: 14px;
    font-weight: 700;
}

.themes__list__item__title:hover {
    color: #b59f5b;
}

.themes__list__item__count {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    margin-left: 5px;
    vertical-align: top;
}

/* Shop */
/* -------------------------------------------------------------------------------- */

.shop {
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
    padding: 0px 15px;

    max-width: 1200px;
}

.shop__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.shop__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: 347px;
}

.shop__item__img {
    width: 300px;

    z-index: -1;
    position: relative;
}

.shop__item__container {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 50px 20px;
    margin-top: -30px;
    height: 267px;
    border: 3px solid #b59f5b;
}

.shop__item__header {
    margin-bottom: 25px;
}

.shop__item__title {
    margin: 0;
    margin-bottom: 8px;

    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    text-align: start;
}

.shop__item__text {
    margin: 0;

    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    text-align: start;
}

.shop__item__text__link {
    color: #b59f5b;
    text-decoration: none;
}

.shop__item__text__link:hover {
    text-decoration: underline;
}

.shop__item__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.shop__item__price {
    display: flex;
    flex-direction: column;

    font-weight: 700;
    color: #0f0d0e;
}

.shop__item__price__old {
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    text-transform: uppercase;
}

.shop__item__price__new {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.shop__item__link {
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    border: none;
}

.shop__item__link:hover {
    background-color: #323232;
}

/* Footer */
/* -------------------------------------------------------------------------------- */

.footer {
    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;
}

.socials__list {
    margin: 0;
    margin-bottom: 74px;
    padding: 0;
    list-style: none;

    padding: 30px 0;
    gap: 25px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    background-color: #f4f7f6;
}

.socials__link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.link__dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.link__pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.link__tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.footer__copyright {
    margin: 0;
    margin-bottom: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    color: #999999;
    font-weight: 700;
}

/* Popup */
/* -------------------------------------------------------------------------------- */


